
header img {
    width: 100%;
    height: 250px;
}

.menu {
    padding: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px;
}

th {
    background-color: ghostwhite;
}

td {
    background-color: beige
}