nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color:rgb(219, 213, 200);
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-box {
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius:  8px;
    padding: 10px;
    text-align: center;

}
