.container{
    border: 2px solid black;
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    margin: auto;
}

.card{
    width: 200px;
    border: 1px lightgrey;
    border-radius: 5px;
    background: white;
    padding: 15px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.3);
}

.circle{
    height: 60px;
    width: 60px;
    background: blue;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}