.container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    margin: 20%;
}

.card{
    width: 200px;
    border: 1px lightgrey;
    border-radius: 5px;
    background: white;
    padding: 20px;
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

.circle{
    height: 100px;
    width: 100px;
    background: blue;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}